@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.doc {
  display: flex;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.sidebar {
  width: 40%;
  padding: 20px;
  background-color: rgba(189, 184, 184, 0.493);
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.list-zero {
  list-style: none;
  padding-left: 25px;
  transition: transform 0.5s;
}

.list-contacts:nth-child(1):hover {
  scale: 1.02;
}

.list-contacts:nth-child(2):hover {
  scale: 1.02;
}

.list-contacts:nth-child(3):hover {
  scale: 1.02;
}

.list-contacts:nth-child(4):hover {
  scale: 1.02;
}

.contact-link:nth-child(1):hover {
  
  color: rgb(162, 5, 162);
}

.main-content {
  padding: 20px;
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

/* .main-content_title {
  
} */

.list-experience {
  list-style: none;
}

.img {
  width: 320px;
  height: 379px;
}

.is-hidden {
  display: none;
}

.is-visible {
  display: block;
}

@media screen and (min-width: 800px) {
  
  .is-visible {
    display: none;
  }

  
  .is-hidden {
    display: block;
  }
}


.list-item {
  font-size: 20px;
}

.contact-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.project-link {
  text-decoration: none;
}

.project-link:nth-child(1):hover {
  color: rgb(162, 5, 162);
}

.project-link:nth-child(2):hover {
  color: rgb(162, 5, 162);
}

.education-link {
  text-decoration: none;
  color: black;
  
}

.education-link:hover {
  color: rgb(162, 5, 162);
}

.description {
  font-size: 20px;
  width: 760px;
  @media screen and (max-width: 780px) {
    width: 500px;
  };
  @media screen and (max-width: 520px) {
    width: 300px;
  }

}

/* .list-effect {
  transform: scale(1);
  transition: transform 0.2s ease;
} */

.project-link {
  transform: scale(1);
  transition: transform 0.2s ease;
}

.list-effect:hover {
  list-style: none;
  transform: scale(1.01);
}

/* .list-effect:hover {
  transform: scale(1.02);
  color: red; 
  border-bottom: 2px solid blue;
} */
